<section class="brands-wrap">
    <div class="brands-inner">
        <div class="brands-bar">
            <div class="brands-logos">
                <img src="/images/logo1.png" alt="Brand 1" />
                <img src="/images/logo2.png" alt="Brand 2" />
                <img src="/images/logo3.png" alt="Brand 3" />
                <img src="/images/logo4.png" alt="Brand 4" />
                <img src="/images/logo5.png" alt="Brand 5" />
            </div>

            <h2 class="brands-title">Modern Equipment</h2>
        </div>

        <div class="about-block">
            <div class="about-images">
                <img class="about-img about-img-left" src="/images/brandTraining1.jpg" alt="Training 1" />
                <img class="about-img about-img-right" src="/images/brandTraining2.jpg" alt="Training 2" />
            </div>

            <div class="about-text">
                <span class="about-badge">About Us</span>
                <h3>Elevating Fitness Journey with Expert Guidance</h3>
                <p class="brand-quote-text">
                    We support every stage of your fitness journey with certified trainers,
                    personalized programs, proven methods designed to help you train safely,
                    build strength.
                </p>

                <div class="about-quote">
                    Our mission is to transform lives by combining expert guidance, powerful
                    training programs, and a motivating community that helps you grow stronger
                    every day.
                </div>
            </div>
        </div>
    </div>

</section>